
    <form>
        <div class="container">
            <h1>
                Formulaire d'inscption
            </h1>
            <p>Veuillez remplir le formulaire d'inscription pour créer un compte.</p>
        
            <div class="mb-3">
                <label class="mb-3" for="Firstname"><b>Nom</b></label>
                <input class="form-control" type="text" placeholder="HEUREUX" name="Firstname" id="Firstname" required>
            </div>

            <div class="mb-3">
            <label class="mb-3" for="Lastname"><b>Prénom</b></label>
            <input class="form-control" type="text" placeholder="Content" name="Lastname" id="Lastname" required>
            </div>

            <div class="mb-3">

            <label class="mb-3" for="email"><b>Email</b></label>
            <input class="form-control" type="text" placeholder="Enter Email" name="email" id="email" required>
            </div>

            <div class="mb-3">
            <label class="mb-3" for="psw"><b>Mot de passe</b></label>
            <input class="form-control" type="password" placeholder="Enter Mot de passe" name="psw" id="psw" required>
            </div>
           
            <p>En créant un compte, vous acceptez nos <a href="#">Conditions & confidentialité</a>.</p>

            <div class="mb-3">
            <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success">Enregistrer</button>
            </div>  
        </div>
        </div>

        <div class="container signin">
            <p>Vous avez déjà un compte ? <a href="login-form">Connexion</a>.</p>
        </div>

    </form>