<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-50  mx-auto">
    <h4 class="mb-3 text-success">Connexion</h4>
    <div *ngIf="errorMsg" class="alert alert-danger">{{errorMsg}}</div>
    <div class="mb-3">
        <label class="mb-3" for="">Email</label>
        <input formControlName="email" type="text" class="form-control">
    </div>
    <div>
        <label class="mb-3" for="">Mot de passe</label>
        <input formControlName="password" type="password" name="" id="" class="mb-3 form-control">
        
            <button type="submit" class="btn btn-success">
                Envoyer
            </button>
        
    </div>
</form>